[submodule "skynet"]
	path = skynet
	url = git@github.com:7cpoker/skynet.git
[submodule "qcclib"]
	path = qcclib
	url = git@github.com:7cpoker/qcclib.git
[submodule "qc3rd"]
	path = qc3rd
	url = git@github.com:7cpoker/qc3rd.git
